# Ignore build artifacts
target/
build/

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS-specific ###
.DS_Store
Thumbs.db

### Spring Boot sensitive files ###
src/main/resources/application.properties

### Credentials / secrets ###
*.env

### Test reports ###
/test-output/
